.certificates {
    padding: 60px 20px;
    background-color: #000000;
    color: #adadac;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
    border-radius: 10px;
    text-align: center;
    scroll-margin-top: 400px;
}

.certificates h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 2rem;
    color: #adadac;
    position: relative;
}

.certificates h2::after {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #adadac;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.certificates-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.certificate-item {
    background-color: #363535;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.333% - 40px);
    position: relative;
    overflow: hidden;
}

.certificate-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.certificate-image {
    width: 100%;
    border-radius: 8px;
}

.certificate-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
}

.certificate-item:hover .certificate-info {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .certificates {
        padding: 40px 10px;
        margin: 20px 10px;
    }

    .certificates h2 {
        font-size: 1.8rem;
    }

    .certificate-item {
        width: calc(50% - 40px);
        margin: 10px;
    }

    .certificate-image {
        border-radius: 6px;
    }
}

@media (max-width: 480px) {
    .certificate-item {
        width: calc(100% - 40px);
        margin: 10px;
    }
}
