.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #141414;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    max-height: 600px;
}

.hero > * {
    position: relative;
    z-index: 2;
}

.hero-image-container {
    position: relative;
    width: 272px;
    height: 272px;
    border-radius: 50%;
    overflow: visible;
    display: flex;
    top: -20px;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.hero-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.3s;
    z-index: 3;
    margin-left: 16px;
    margin-top: -6px;
    filter: hue-rotate(11deg) sepia(0.3) saturate(1.5);
}

.inner-circle,
.dotted-circle,
.outer-circle {
    position: absolute;
    border-radius: 50%;
}

.inner-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 70px;
    left: 40px;
    background: rgba(0, 128, 128, 0.3);
    z-index: 2;
}

.dotted-circle {
    width: 350px;
    height: 350px;
    top: -5px;
    left: -35px;
    background: linear-gradient(to right, #36454F, #008080);
    mask: radial-gradient(circle, transparent 47%, black 47%, black 53%, transparent 53%);
    background-size: 5px 5px;
    z-index: 1;
}

.outer-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 15px;
    left: -15px;
    z-index: 0;
    border-radius: 50%;
    background: linear-gradient(to left, #36454F, #008080);
}

.outer-circle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 286px;
    height: 286px;
    background: #36454F;
    border-radius: 50%;
    z-index: -1;
}

.hero-image-container img:hover {
    transform: scale(1.01);
}

.hero-text {
    text-align: center;
    padding: 20px;
    font-family: 'Duke Charming Regular', serif;
    color: #adadac;
    flex: 1;
    font-size: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    color: #adadac;
    font-size: 3rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #008080;
    transform: scale(1.4);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 20px;
        max-height: 800px;
    }

    .hero-image-container {
        margin-bottom: 20px;
    }

    .hero-text {
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
    }

    .social-icons {
        margin-top: 30px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
