@font-face {
  font-family: 'Ahsing Regular';
  src: url('./fonts/Ahsing-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Duke Charming Regular';
  src: url('./fonts/Duke Charming DEMO.otf') format('opentype');
}

@font-face {
  font-family: 'Architype Renner Medium Bold';
  src: url('./fonts/ArchitypeRenner-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Architype Renner Medium';
  src: url('./fonts/ArchitypeRenner-Regular.otf') format('opentype');
}

body {
  margin: 0;
  background-color: #36454F;
  color: #008080;
  font-family: 'Ahsing Regular', serif;
  animation: fadeInPage 2.2s ease-in-out; /* Apply the fade-in animation to the entire page */
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
}

.App {
  text-align: center;
}

/* Reset some default styles for better control */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px; /* Increased padding for a bigger header */
  background: linear-gradient(to right, #36454F, #008080);
  background-size: cover;
  color: #adadac;
  font-family: 'Ahsing Regular', serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Header title styles */
.header h1 {
  border-bottom: 3px solid #adadac; /* Underline similar to navigation */
  border-radius: 6px;
  position: relative; /* Ensure the content is above the pseudo-elements */
  z-index: 2; /* Ensure the content is above the pseudo-elements */
  margin: 0; /* Remove margin to align it properly */
  padding: 10px 0; /* Add padding to match navigation */
  white-space: nowrap; /* Prevent the h1 text from wrapping */
}

/* Navigation styles */
.header nav ul {
  font-family: 'Ahsing Regular', serif;
  list-style: none;
  display: flex;
  gap: 60px; /* Increased gap between individual list items */
  margin: 0;
  padding: 0;
  position: relative; /* Ensure the content is above the pseudo-elements */
  z-index: 2; /* Ensure the content is above the pseudo-elements */
}

/* Navigation link items */
.header nav ul li a {
  font-family: 'Ahsing Regular', serif;
  text-decoration: none;
  color: #adadac;
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 6px;
  border-bottom: 3px solid #adadac; /* Underline by default */
  transition: color 0.3s, background-color 0.3s, transform 0.3s, border-bottom 0.3s; /* Add transition for underline */
}

/* Navigation link hover effect */
.header nav ul li a:hover {
  color: #36454F;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px 20px; /* Reduced padding for mobile */
  }

  .header h1 {
    margin-bottom: 2px; /* Reduced bottom margin */
    margin-top: 3px; /* Added top margin */
    padding-bottom: 2px; /* Adjust padding-bottom to change distance between text and underline */
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

  .header nav ul {
    flex-direction: column;
    margin-top: 5px;
    gap: 20px; /* Increased gap between individual list items for mobile */
  }

  .header nav ul li a {
    font-size: 1rem; /* Smaller font size for mobile */
    padding: 8px 10px; /* Adjusted padding for mobile */
  }
}

/* Separator */
.separator {
  border: 0;
  height: 3px; /* Thicker separator */
  background: #008080;
  margin: 30px 0; /* More margin for better separation */
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  max-height: 600px;
}

/* Ensures content is above the overlay */
.hero > * {
  position: relative;
  z-index: 2;
}

/* Hero image container with advanced border styling */
.hero-image-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  overflow: visible; /* Allow overflow to show circles */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.3s;
  z-index: 3; /* Ensure image overlays the inner circle */
}

.inner-circle,
.dotted-circle,
.outer-circle {
  position: absolute;
  border-radius: 50%;
}

.inner-circle {
  position: absolute;
  width: 200px; /* Slightly smaller than the container */
  height: 200px;
  top: 70px;
  left: 40px;
  background: rgba(0, 128, 128, 0.3); /* Slightly opaque background */
  z-index: 2; /* Ensure inner circle is below the image */
}

.dotted-circle {
  width: 350px; /* Adjust the size as needed */
  height: 350px;
  top: -5px; /* Adjust to bring closer */
  left: -35px; /* Adjust to bring closer */
  background: linear-gradient(to right, #36454F, #008080);
  mask: radial-gradient(circle, transparent 47%, black 47%, black 53%, transparent 53%);
  background-size: 5px 5px; /* Adjust the size of the dots */
  z-index: 1;
}

.outer-circle {
  position: absolute;
  width: 300px; /* Adjust the size as needed */
  height: 300px;
  top: 15px;
  left: -15px;
  z-index: 0;
  border-radius: 50%; /* Make the circle */
  background: linear-gradient(to left, #36454F, #008080); /* Gradient background */
}

.outer-circle::before {
  content: "";
  position: absolute;
  top: 10px; /* Adjust to match the border thickness */
  left: 10px; /* Adjust to match the border thickness */
  width: 286px; /* Adjust the size to create the illusion of border thickness */
  height: 286px; /* Adjust the size to create the illusion of border thickness */
  background: #36454F; /* Inner circle background color to match the page background */
  border-radius: 50%; /* Make the circle */
  z-index: -1;
}

.hero-image-container img:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

/* Hero text styles */
.hero-text {
  text-align: center;
  padding: 20px;
  font-family: 'Duke Charming Regular', serif;
  color: #adadac; /* White text for better contrast */
  flex: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icons a {
  color: #adadac;
  font-size: 2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #008080;
  transform: scale(1.4);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 20px;
    max-height: 800px; /* Increased max height for mobile */
  }

  .hero-image-container {
    margin-bottom: 20px;
  }

  .hero-text {
    text-align: center;
    padding: 10px;
  }

  .social-icons {
    margin-top: 30px; /* Increased margin for better visibility on mobile */
  }
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Fade in to fully visible */
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* About Section */
.about {
  padding: 40px;
  background-color: #36454F;
  font-family: 'Duke Charming Regular', serif;
  color: #adadac;
  scroll-margin-top: 400px; /* Adjust this value to match the height of your header */
}

.about h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.about-me {
  font-size: 1.5rem;
  text-align: justify;
}

.about-me p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about h2 {
    font-size: 1.8rem;
  }

  .about-me {
    font-size: 1.2rem;
  }

  .about-me p {
    margin-bottom: 8px;
  }
}

/* Blog Section */
.blog {
  font-size: 1.5rem;
  padding: 40px;
  background-color: #36454F;
  font-family: 'Duke Charming Regular', serif;
  color: #008080;
  scroll-margin-top: 400px;
}

.blog h2 {
  text-align: center;
  margin-bottom: 20px;
}

.blog-content {
  text-align: justify;
}

.blog-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .blog {
    padding: 20px;
  }

  .blog h2 {
    font-size: 1.8rem;
  }

  .blog-content {
    font-size: 1.2rem;
  }
}

/* Education Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.education {
  padding: 40px;
  background-color: #36454F;
  font-family: 'Duke Charming Regular', serif;
  color: #adadac;
  scroll-margin-top: 400px;
}

.education-text {
  text-align: center;
  margin-top: 40px;
  font-family: 'Duke Charming Regular', serif;
}

.timeline-container {
  position: relative;
  margin: 20px 0;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #008080;
}

.timeline-event {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.timeline-event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px; /* Adjusted to align the line with the box */
  background-color: #008080;
}

.timeline-event:first-child::before,
.timeline-event:last-child::before {
  height: 20px; /* Ensure the first and last events have lines reaching the timeline */
}

.timeline-event::after {
  content: '';
  position: absolute;
  top: -2px; /* Adjusted to align the circle with the box */
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #008080;
  border-radius: 50%;
}

.timeline-content {
  padding: 10px;
  background-color: #36454F;
  border: 2px solid #008080;
  border-radius: 6px;
  margin-top: 20px;
}

.timeline-content p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #adadac;
}

@media (max-width: 768px) {
  .education {
    padding: 20px;
  }

  .education h2 {
    font-size: 1.8rem;
  }

  .timeline {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .timeline::before {
    top: 0;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }

  .timeline-event {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline-event::before {
    top: -20px; /* Adjusted to align the line with the box */
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px; /* Ensure the lines reach just below the edge of the box */
    background-color: #008080;
  }

  .timeline-event::after {
    display: none; /* Remove circles on mobile */
  }

  .timeline-content {
    margin-top: 0;
    margin-left: 0;
    border: 2px solid #008080;
    border-radius: 6px;
    text-align: center;
  }

  .education-images {
    flex-direction: column;
    gap: 20px;
  }

  .education-images img {
    width: 100%;
  }
}

/* Projects Section */
.projects {
  padding: 40px;
  background-color: #36454F;
  font-family: 'Duke Charming Regular', serif;
  color: #008080;
  scroll-margin-top: 400px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.projects-content {
  text-align: justify;
}

.projects-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .projects {
    padding: 20px;
  }

  .projects h2 {
    font-size: 1.8rem;
  }

  .projects-content {
    font-size: 1.2rem;
  }

  .projects-content ul {
    margin-left: 15px;
  }
}

.skills {
  padding: 40px;
  background-color: #36454F;
  font-family: 'Duke Charming Regular', serif;
  color: #008080;
  scroll-margin-top: 400px;
  position: relative;
}

.skills h2 {
  text-align: center;
  margin-bottom: 20px;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust height as needed */
  position: relative;
}

.web {
  position: relative;
  width: 80%;
  height: 80%;
}

.web-circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #008080;
}

.web-circle-1 {
  width: 20%;
  height: 20%;
  top: 40%;
  left: 40%;
}

.web-circle-2 {
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
}

.web-circle-3 {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
}

.web-circle-4 {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.skill {
  position: absolute;
  background-color: rgba(0, 128, 128, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  text-decoration: none;
  transition: background-color 0.3s;
}

.skill:hover {
  background-color: rgba(0, 128, 128, 1);
}

@media (max-width: 768px) {
  .skills {
    padding: 20px;
  }

  .skills h2 {
    font-size: 1.8rem;
  }

  .skills-content {
    font-size: 1.2rem;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #36454F;
  color: #ffffff;
  font-family: 'Ahsing Regular', serif;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
    font-size: 1.2rem;
  }
}