@font-face {
  font-family: 'Ahsing Regular';
  src: url('./fonts/Ahsing-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Duke Charming Regular';
  src: url('./fonts/Duke Charming DEMO.otf') format('opentype');
}

@font-face {
  font-family: 'Architype Renner Medium Bold';
  src: url('./fonts/ArchitypeRenner-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Architype Renner Medium';
  src: url('./fonts/ArchitypeRenner-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'P22 Underground';
  src: url('./fonts/P22Underground-PCp.otf') format('opentype');
}
@font-face {
  font-family: 'Flamante Sans Bold';
  src: url('./fonts/flamante-sans.bold.ttf') format('opentype');
}

body {
  margin: 0;
  background-color: #000000;
  font-family: 'Flamante Sans Bold', serif;
  animation: fadeInPage 2.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
}

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between; /* Aligns icons on the left and nav on the right */
  align-items: center;
  padding: 10px 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto', serif;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.social-icons {
  display: flex;
  gap: 15px; /* Space between icons */
  padding-left: 20px; /* Add some padding on the left to separate icons from the edge */
}

.social-icons a {
  color: #999999;
  font-size: 2rem; /* Smaller size for icons */
}
.social-icons a:hover {
  transform: scale(1.5); /* Adjusted scale to 1.5 */
  transition: transform 0.3s;
}

.nav-container {
  padding: 30px 30px;
  border-bottom-left-radius: 40px;
  display: flex;
  margin-top: -10px;
  /* Ensures the nav container stretches */
  justify-content: flex-end; /* Aligns the navigation links to the right */
}

.header nav ul {
  font-family: 'Flamante Sans Bold', serif;
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  font-family: 'Flamante Sans Bold', serif;
  text-decoration: none;
  color: #999999;
  font-size: 1.25rem;
  padding: 10px 15px;
  transition: color 0.3s, transform 0.3s;
}

.header nav ul li a:hover {
  color: #ffffff;
}
.nav-container {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.menu-icon span {
  background: #ffffff;
  border-radius: 2px;
  height: 3px;
  margin: 4px 0;
  width: 25px;
  transition: 0.3s;
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  font-family: 'Roboto', serif;
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 1.25rem;
  padding: 10px 15px;
  transition: color 0.3s, transform 0.3s;
}

.nav-menu ul li a:hover {
  color: #ffffff;
  transform: scale(1.5);
  transition: transform 0.3s;
}
.download-icon {
  display: none;
  margin-left: 8px; /* Space between text and icon */
}

.resume-link a:hover .download-icon {
  display: inline-block;
}
/* Mobile styles */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 15px 20px;
    text-align: center;
  }

  .menu-icon {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    background-color: #1c1c1c;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.3s ease-in-out;
  }

  .nav-menu.open {
    top: 80px; /* Adjust to the height where the menu should appear */
    padding-top: 20px; /* Add padding above the menu */
    padding-bottom: 20px; /* Add padding below the menu */
  }

  .nav-menu ul {
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
  }

  .nav-menu ul li {
    padding-top: 8px; /* Add space above each item */
    padding-bottom: 8px; /* Add space below each item */
  }

  .nav-menu ul li a {
    font-size: 1rem;
    padding: 8px 10px;
  }
    .download-icon {
      display: none;
      margin-left: 5px;
    }

    .resume-link a:hover .download-icon {
      display: inline-block;
    }
  }
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.about-me-title {
  color: #ffffff;
  font-family: 'Flamante Sans Bold', serif;
  font-size: 2rem;
  margin-bottom: 20px; /* Add some spacing between the title and the rectangle */
}

.hero-content {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #1c1c1c, #2e2e2e);
  padding: 30px 50px; /* Slightly bigger */
  border-radius: 5px;
  max-width: 900px; /* Adjusted width */
}

.hero-image-container {
  flex-shrink: 0;
  position: relative;
  width: 180px; /* Adjusted size */
  height: 190px; /* Adjusted size */
  overflow: hidden;
  margin-right: 30px;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Circular border */
}

.hero-text {
  max-width: 700px; /* Adjusted width */
  text-align: left;
  color: #adadac;
  font-family: 'Flamante Sans Bold', serif;
  font-size: 1.3rem; /* Slightly bigger and more relaxed font size */
  line-height: 1.6; /* Increased line height for a more relaxed look */
}

.hero-text h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .hero-image-container {
    width: 140px; /* Adjusted size */
    height: 140px; /* Adjusted size */
    margin-right: 0;
    margin-bottom: 20px;
  }

  .hero-text {
    text-align: center;
    font-size: 1.1rem; /* Slightly bigger font size */
  }

  .hero-text h3 {
    font-size: 1.3rem; /* Adjusted size */
  }
}
.about {
  padding: 60px 20px;
  background-color: #000000;
  color: #adadac;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  border-radius: 10px;
  text-align: center;
  scroll-margin-top: 400px;
  font-family: "Flamante Sans Bold", serif;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 2rem;
  color: #adadac;
  position: relative;
}

.about h2::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #adadac;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 350px; /* Adjust width as necessary */
  margin: 10px;
  height: 400px; /* Adjust height to make them taller */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  z-index: 1;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.projects-content:hover > .project-card:not(:hover) {
  filter: blur(5px);
}

.project-card h3,
.project-card p,
.project-card .language {
  position: relative;
  z-index: 2;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.project-card p {
  margin: 0;
  color: #ffffff;
  line-height: 1.6;
}

.project-card .project-header {
  text-align: left;
}

.project-card .project-header .language {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .about {
    padding: 40px 10px;
    margin: 20px 10px;
  }

  .about h2 {
    font-size: 1.8rem;
  }

  .project-card {
    margin: 15px 0;
  }

  .project-card h3 {
    font-size: 1.3rem;
  }

  .project-card p {
    font-size: 1.1rem;
  }
}

.git {
  font-size: 1.5rem;
  padding: 40px;
  background-color: #000000;
  font-family: 'Flamante Sans Bold', serif;
  color: #adadac;
  scroll-margin-top: 400px;
  text-align: center;
}

.git h2 {
  text-align: center;
  margin-bottom: 20px;
}
.git h2::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #adadac;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}
.git-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-link {
  display: inline-block;
  font-size: 1.8rem;
  color: #adadac;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.github-link:hover {
  color: #fff;
  transform: scale(1.4);
  transition: transform 0.3s;
}

.github-icon {
  margin-right: 10px;
  font-size: 2.5rem;
  vertical-align: middle;
}


.projects-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.projects-list li {
  margin: 10px 0;
}

.projects-list a {
  color: #adadac;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.projects-list a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .git {
    padding: 20px;
  }

  .git h2 {
    font-size: 1.8rem;
  }

  .git-content {
    font-size: 1.2rem;
  }

  .github-link {
    font-size: 1.5rem;
  }

  .github-icon {
    font-size: 2rem;
  }

  .projects-list a {
    font-size: 1.1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.education {
  padding: 40px;
  background-color: #000000;
  font-family: 'Flamante Sans Bold', serif;
  color: #adadac;
  scroll-margin-top: 300px;
  position: relative; /* Ensure the section is relative for absolute positioning of children */
}

.education h2 {
  position: absolute; /* Position the h2 absolutely within the .education section */
  top: 10px; /* Adjust this value to control the vertical placement */
  left: 50%; /* Center the h2 horizontally */
  transform: translateX(-50%); /* Center the h2 horizontally */
  margin: 0; /* Remove any default margin */
  font-size: 2rem; /* Adjust font size as needed */
  text-align: center;
  color: #adadac;
}
.education h4 {
  font-family: 'Duke Charming Regular', serif;
}
.education h2::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #adadac;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

.education-text {
  text-align: center;
  margin-top: 40px;
  font-family: 'Flamante Sans Bold', serif;
  font-size: 1.5rem;
}

.timeline-container {
  position: relative;
  margin: 20px 0;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #adadac;
}

.timeline-event {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.timeline-event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background-color: #adadac;
}

.timeline-event:first-child::before,
.timeline-event:last-child::before {
  height: 20px;
}

.timeline-event::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #adadac;
  border-radius: 50%;
}

.timeline-content {
  padding: 10px;
  background-color: #363535;
  border: 2px solid #adadac;
  border-radius: 6px;
  margin-top: 20px;
}

.timeline-content p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #adadac;
  font-family: 'Flamante Sans Bold', serif; /* Ensure the correct font-family is applied */
}

@media (max-width: 768px) {
  .education {
    padding: 20px;
  }

  .education h2 {
    font-size: 1.8rem;
  }

  .timeline {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .timeline::before {
    top: 0;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }

  .timeline-event {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline-event::before {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background-color: #adadac;
  }

  .timeline-event::after {
    display: none;
  }

  .timeline-content {
    margin-top: 0;
    margin-left: 0;
    border: 2px solid #adadac;
    border-radius: 6px;
    text-align: center;
  }

  .education-images {
    flex-direction: column;
    gap: 20px;
  }

  .education-images img {
    width: 100%;
  }
}
.projects {
  padding: 60px 20px;
  background-color: #000000;
  color: #adadac;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  border-radius: 10px;
  text-align: center;
  scroll-margin-top: 400px;
  font-family: "Flamante Sans Bold", serif;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 2rem;
  color: #adadac;
  position: relative;
}

.projects h2::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #adadac;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 350px; /* Adjust width as necessary */
  margin: 10px;
  height: 400px; /* Adjust height to make them taller */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  z-index: 1;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.projects-content:hover > .project-card:not(:hover) {
  filter: blur(5px);
}

.project-card h3,
.project-card p,
.project-card .language {
  position: relative;
  z-index: 2;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.project-card p {
  margin: 0;
  color: #ffffff;
  line-height: 1.6;
}

.project-card .project-header {
  text-align: left;
}

.project-card .project-header .language {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.difficulty-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #adadac;
  z-index: 2;
}

.difficulty-circle.beginner {
  background-color: #4CAF50; /* Green */
}

.difficulty-circle.intermediate {
  background-color: #FF9800; /* Orange */
}

.difficulty-circle.advanced {
  background-color: #F44336; /* Red */
}

@media (max-width: 768px) {
  .projects {
    padding: 40px 10px;
    margin: 20px 10px;
  }

  .projects h2 {
    font-size: 1.8rem;
  }

  .project-card {
    margin: 15px 0;
  }

  .project-card h3 {
    font-size: 1.3rem;
  }

  .project-card p {
    font-size: 1.1rem;
  }

  .difficulty-circle {
    top: 10px;
    right: 10px;
  }
}
.skills {
  padding: 40px;
  background-color: #000000;
  font-family: 'Duke Charming Regular', serif;
  color: #adadac;
  scroll-margin-top: 400px;
  position: relative;
}

.skills h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: "Flamante Sans Bold", serif;
}

.skills h2::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #adadac;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  font-family: Roboto, serif;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-container {
  position: absolute;
  text-align: center;
  transition: transform 0.3s ease;
}

.skill {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.circle-bg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #adadac;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 184, 37, 0.8); /* Initial background color with opacity */
  transition: height 0.3s ease, background-color 0.3s ease;
  height: 0; /* Initial height is 0 */
  z-index: 2; /* Ensure the fill covers the icon */
}

.skill-icon {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease; /* Transition for opacity */
}

.skill-percent {
  position: absolute;
  bottom: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 50%); /* Adjust position */
  font-size: 1.5rem; /* Bigger font size */
  color: #ffffff;
  font-weight: bold; /* Bold text */
  z-index: 3; /* Ensure the percentage is above the fill */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.skill-description {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #363535;
  padding: 5px 10px;
  border-radius: 5px;
  color: #adadac;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.skill:hover .circle-fill {
  height: var(--skill-level); /* Fill up the circle on hover */
  background-color: rgba(255, 184, 37, 1); /* Solid background color on hover */
}

.skill:hover .skill-percent {
  opacity: 1; /* Show percentage on hover */
}

.skill:hover .skill-description {
  opacity: 1;
}

.skill:hover .skill-icon {
  opacity: 0; /* Hide the icon on hover */
}

@media (max-width: 768px) {
  .skills {
    padding: 20px;
  }

  .skills h2 {
    font-size: 1.8rem;
  }

  .skills-content {
    font-size: 1.2rem;
    height: 400px;
  }

  .circle {
    width: 250px;
    height: 250px;
  }

  .skill-container {
    transform: rotate(0deg) translate(3em) rotate(0deg); /* Adjusted translate value */
  }

  .skill {
    width: 40px;
    height: 40px;
  }

  .skill-icon {
    font-size: 1.2rem;
  }

  .skill-description {
    top: 70px;
  }

  .skill-percent {
    font-size: 0.8rem; /* Slightly smaller font size for mobile */
    font-weight: bold;
  }
}

.footer {
  padding: 40px;
  background-color: #000000;
  color: #adadac;
  font-family: 'Flamante Sans Bold', serif;
  text-align: center;
}

.footer h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info .highlight {
  color: #00d1b2; /* Highlight color */
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input-group input {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #adadac;
  font-size: 1rem;
  resize: none;
}

.contact-form button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #00d1b2;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #00a396;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .contact-form {
    width: 100%;
  }

  .input-group {
    flex-direction: column;
    gap: 10px;
  }

  .contact-form button {
    width: 100%;
  }
}
