/* backtotop.css */
#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333; /* Set background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Circular shape */
    font-size: 24px; /* Increase font size */
    opacity: 0; /* Initial state is invisible */
    overflow: hidden; /* Prevents the button from causing horizontal overflow */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop.hide {
    opacity: 0;
    visibility: hidden;
}

#backToTop:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color:white;
    color: #333;
}
